big-skill {
    display: block;
    padding: 10px;
}

big-skill.increase {
}

big-skill > banner {
    height: 30px;
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

big-skill > rate {
    display: block;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 0 gold;
    font-size: xx-large;
}

big-skill > description {
    margin-top: 5px;
    display: block;
    text-align: justify;
}

big-skill description.smaller  {
    font-size: 16px !important;
}

big-skill > mention {
    display: block;
    text-align: center;
    font-style: italic;
}

skill {
    border: black 1px solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    width: fit-content;
}

skill > rate {
    display: inline;

    margin-left: 5px;
}

rate.nice::before {
    content: "+++";
}

rate.fine::before {
    content: '++';
}

rate.meh::before {
    content: '+';
}